/* GLOBAL */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* LAYOUT */
.layout{
    position: relative;
    padding-top: 120px;
    padding-left: 345px;
    background: #FAFBFC;

    display: block;
    width: 100vw;
    height: 100vh;
}

.layoutWrapper{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

/* TopBar */
.topBar{
    position: absolute;
    top: 0;
    left: 345px;

    height: 120px;
    width: calc(100% - 345px);

    display: flex;
    padding: 0 20px;
    align-items: center;

    background-color: white;
}

/* SideBar */
.sidebar{
    position: absolute;
    top: 0;
    left: 0;

    padding: 50px;

    background-color: white;

    width: 345px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-content: center;
}

/*SIDE BAR BUTTON*/
.sideBarButton{
    width: 100%;
    height: 54px;
    border-radius: 16px;
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.sideBarButton .wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideBarButton .buttonText{
    color: #737791;
    font-size: 18px;
}

.sideBarButton:hover .buttonText{
    color: black;
}

.active{
    background-color: #5D5FEF;
}

.active .buttonText{
    color: white;
    font-weight: 500;
}

.active:hover .buttonText{
    color: lightgray;
}

/* NavTitle */

.navTitle{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.navTitle h1{
    font-size: 30px;
    color: #000;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.navSvg{
    width: 56px;
    height: 56px;
}

/* SvgView */
.svgContainer{
    height: fit-content;
    width: fit-content;
}

/* SvgIcon */
.svgIconSearchLine {
    fill: #5D5FEF;
    width: 20px;
    height: 20px;
}